body{
background-color: #f0edeb;
background-image: url(http://www.transparenttextures.com/patterns/tileable-wood-colored.png);
}
  .form{
	margin-top:40px;
	margin-bottom:80px;
  }
  
  .enter{
  margin-top:20px;
  border-radius:0px;
  height:40px;
  font-family: 'Poiret One', cursive;
  font-size:1.4em;
  }
  .form-group{
  margin:0px;
  }
  input[type=text]{
  background:transparent;
  height:40px;
  border-radius:0px;
  border-top:1px solid black;
  border-right:1px solid black;
  border-left:1px solid black;
  }
  input[type=password]{
  background:transparent;
  height:40px;
  border-radius:0px;
  border:1px solid black;
  }
  .form-control::-webkit-input-placeholder {
	color:#232323;
	font-size:15px;
	}

  [placeholder]:focus::-webkit-input-placeholder {
  color:transparent;
	}
  h1{
  font-family: 'Poiret One', cursive;
  color:#000;
  text-align:center;
  font-weight:bold;
  }
  
h3{
margin-bottom:40px;
text-align:center;
font-family: 'Poiret One', cursive;
color:#000;
font-weight:bold;
}
  .signnote{
text-align:center;
font-family: 'Poiret One', cursive;
color:#5cb85c;
font-weight:bold;
}
  .login{
font-family: 'Poiret One', cursive;
color:#ec971f;
font-weight:bold;
padding-left:6px;
padding-right:6px;	
}
.alert{
font-family: Lucida Sans;
background-color:#F6F6F6;
}

.letter {
  background: #fff;
  font-family: 'Gloria Hallelujah', cursive;
  color:#5b2d2f;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
  z-index:3000;
}
.letter p{
text-align:center;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index:-1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
.popover{
    width:250px;  
	font-family: 'Verdana', Sans-serif;
	display: inline-block;;
}